### 0.2.2.dev3
# data-prep-toolkit==0.2.2.dev2
# data-prep-toolkit-transforms[html2parquet]==0.2.2.dev3
# data-prep-toolkit-transforms[web2parquet]==0.2.2.dev3

### 0.2.2
# data-prep-toolkit==0.2.2
# data-prep-toolkit-transforms[html2parquet]==0.2.2
# data-prep-toolkit-transforms[web2parquet]==0.2.2

### DPK 0.2.3-dev1
data-prep-toolkit==0.2.3.dev0
data-prep-toolkit-transforms[html2parquet]==0.2.3.dev1
data-prep-toolkit-transforms[web2parquet]==0.2.3.dev1


## HTML processing
trafilatura

# Milvus
pymilvus
pymilvus[model]

## --- Replicate
replicate

## --- llama-index
llama-index
llama-index-embeddings-huggingface
llama-index-llms-replicate
llama-index-vector-stores-milvus

## utils
humanfriendly
pandas
mimetypes-magic
nest-asyncio

## jupyter and friends
jupyterlab
ipykernel
ipywidgets
